#box{
    background-color: blue;
    /* color: white; */
}
.heading{
    color: rgb(220, 22, 22);
}
button{
    /* background-color: green; */
    background-color:green;
}
button{
    background-color: rgb(127, 138, 255);
}