p{
    text-align:center;
}
h1{
    text-decoration: blue dotted underline;
    text-align:center;
    /* text-decoration: underline; */
}
a{
    
    color: rgb(17, 46, 139);
}
#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: lighter;
}
#h4{
    font-weight: bolder;
}
#one{
    font-family: cursive;
}
#two{
    font-family: 'Times New Roman', Times, serif;  
     /*This is called fall back mechanism where like any browser does not support times new roman then it 
     automatically switch to Times and Time is also not there then it jump to the serif.  */
}