div{
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}
#box1{
    background-color: rgba(0, 255, 0, 0.4);
}
#box2{
    background-color: rgba(0, 255, 0, 0.6);
}
#box3{
    background-color: rgba(0, 255, 0, 0.8);
}