/* .heading{
    color: blue;
}

body{
    background-color: lightpink;
}
button{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
} */

#box{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
}